In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import re

In [52]:
df=pd.read_csv("SMS_train.csv",encoding='ISO-8859-1')
df

     S. No.                                       Message_body     Label
0         1                         Rofl. Its true to its name  Non-Spam
1         2  The guy did some bitching but I acted like i'd...  Non-Spam
2         3  Pity, * was in mood for that. So...any other s...  Non-Spam
3         4               Will ü b going to esplanade fr home?  Non-Spam
4         5  This is the 2nd time we have tried 2 contact u...      Spam
..      ...                                                ...       ...
952     953  hows my favourite person today? r u workin har...  Non-Spam
953     954                      How much you got for cleaning  Non-Spam
954     955  Sorry da. I gone mad so many pending works wha...  Non-Spam
955     956                                 Wat time ü finish?  Non-Spam
956     957                    Just glad to be talking to you.  Non-Spam

[957 rows x 3 columns]

In [53]:
dfe=pd.read_csv("SMS_test.csv",encoding='ISO-8859-1')
dfe

     S. No.                                       Message_body     Label
0         1  UpgrdCentre Orange customer, you may now claim...      Spam
1         2  Loan for any purpose £500 - £75,000. Homeowner...      Spam
2         3  Congrats! Nokia 3650 video camera phone is you...      Spam
3         4  URGENT! Your Mobile number has been awarded wi...      Spam
4         5  Someone has contacted our dating service and e...      Spam
..      ...                                                ...       ...
120     121  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
121     122  Try to do something dear. You read something f...  Non-Spam
122     123  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
123     124  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
124     125  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[125 rows x 3 columns]

In [54]:
df_new=pd.concat([df,dfe],axis=0)
df_new

     S. No.                                       Message_body     Label
0         1                         Rofl. Its true to its name  Non-Spam
1         2  The guy did some bitching but I acted like i'd...  Non-Spam
2         3  Pity, * was in mood for that. So...any other s...  Non-Spam
3         4               Will ü b going to esplanade fr home?  Non-Spam
4         5  This is the 2nd time we have tried 2 contact u...      Spam
..      ...                                                ...       ...
120     121  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
121     122  Try to do something dear. You read something f...  Non-Spam
122     123  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
123     124  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
124     125  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[1082 rows x 3 columns]

In [55]:
df_new.columns=['id','text','result']
df_new

      id                                               text    result
0      1                         Rofl. Its true to its name  Non-Spam
1      2  The guy did some bitching but I acted like i'd...  Non-Spam
2      3  Pity, * was in mood for that. So...any other s...  Non-Spam
3      4               Will ü b going to esplanade fr home?  Non-Spam
4      5  This is the 2nd time we have tried 2 contact u...      Spam
..   ...                                                ...       ...
120  121  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
121  122  Try to do something dear. You read something f...  Non-Spam
122  123  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
123  124  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
124  125  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[1082 rows x 3 columns]

In [56]:
df_new.reset_index(drop=True,inplace=True)
df_new

       id                                               text    result
0       1                         Rofl. Its true to its name  Non-Spam
1       2  The guy did some bitching but I acted like i'd...  Non-Spam
2       3  Pity, * was in mood for that. So...any other s...  Non-Spam
3       4               Will ü b going to esplanade fr home?  Non-Spam
4       5  This is the 2nd time we have tried 2 contact u...      Spam
...   ...                                                ...       ...
1077  121  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
1078  122  Try to do something dear. You read something f...  Non-Spam
1079  123  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
1080  124  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
1081  125  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[1082 rows x 3 columns]

In [57]:
df_new.drop(['id'],axis=1,inplace=True)

In [58]:
df_new.isna().sum()

text      0
result    0
dtype: int64

In [59]:
df_new.dtypes

text      object
result    object
dtype: object

In [60]:
df_new['result'].value_counts()

result
Non-Spam    884
Spam        198
Name: count, dtype: int64

In [61]:
df_new['result'] = df_new['result'].map({'Spam': 0, 'Non-Spam': 1,})
df_new

                                                   text  result
0                            Rofl. Its true to its name       1
1     The guy did some bitching but I acted like i'd...       1
2     Pity, * was in mood for that. So...any other s...       1
3                  Will ü b going to esplanade fr home?       1
4     This is the 2nd time we have tried 2 contact u...       0
...                                                 ...     ...
1077  7 wonders in My WORLD 7th You 6th Ur style 5th...       1
1078  Try to do something dear. You read something f...       1
1079  Sun ah... Thk mayb can if dun have anythin on....       1
1080  SYMPTOMS when U are in love: "1.U like listeni...       1
1081  Great. Have a safe trip. Dont panic surrender ...       1

[1082 rows x 2 columns]

In [62]:
nltk.download('stopwords')
nltk.download('punkt_tab')
nltk.download('omw-1.4')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aswat\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\aswat\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\aswat\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\aswat\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [64]:
message=df_new.text
message

0                              Rofl. Its true to its name
1       The guy did some bitching but I acted like i'd...
2       Pity, * was in mood for that. So...any other s...
3                    Will ü b going to esplanade fr home?
4       This is the 2nd time we have tried 2 contact u...
                              ...
1077    7 wonders in My WORLD 7th You 6th Ur style 5th...
1078    Try to do something dear. You read something f...
1079    Sun ah... Thk mayb can if dun have anythin on....
1080    SYMPTOMS when U are in love: "1.U like listeni...
1081    Great. Have a safe trip. Dont panic surrender ...
Name: text, Length: 1082, dtype: object

In [66]:
from nltk.tokenize import TweetTokenizer
tk=TweetTokenizer()
message=message.apply(lambda x:tk.tokenize(x)).apply(lambda x:" ".join(x))
message

0                             Rofl . Its true to its name
1       The guy did some bitching but I acted like i'd...
2       Pity , * was in mood for that . So ... any oth...
3                   Will ü b going to esplanade fr home ?
4       This is the 2nd time we have tried 2 contact u...
                              ...
1077    7 wonders in My WORLD 7th You 6th Ur style 5th...
1078    Try to do something dear . You read something ...
1079    Sun ah ... Thk mayb can if dun have anythin on...
1080    SYMPTOMS when U are in love : " 1 . U like lis...
1081    Great . Have a safe trip . Dont panic surrende...
Name: text, Length: 1082, dtype: object