In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df=pd.read_csv('Stats survey.csv')
df

,Timestamp,Your Sex?,Your Matric (grade 12) Average/ GPA (in %),What year were you in last year (2023) ?,What faculty does your degree fall under?,Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student),Your Accommodation Status Last Year (2023),Monthly Allowance in 2023,Were you on scholarship/bursary in 2023?,Additional amount of studying (in hrs) per week,How often do you go out partying/socialising during the week?,"On a night out, how many alcoholic drinks do you consume?","How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)",How many modules have you failed thus far into your studies?,Are you currently in a romantic relationship?,Do your parents approve alcohol consumption?,How strong is your relationship with your parent/s?
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,2024/03/07 5:12:28 pm EET,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,2024/03/07 5:13:00 pm EET,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,2024/03/12 11:05:33 am EET,Female,74.0,NaN,Science,NaN,Private accommodation/ stay with family/friends,NaN,No,3-5,3,1-3,0,0,No,Yes,Close
402,2024/03/12 3:26:14 pm EET,Female,73.0,2nd Year,Economic & Management Sciences,58.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,"Yes (NSFAS, etc...)",5-8,1,8+,0,0,Yes,Yes,Very close
403,2024/03/13 10:32:19 pm EET,Female,86.0,1st Year,NaN,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,5-8,2,3-5,1,0,No,Yes,Very close
404,2024/03/13 10:32:27 pm EET,Male,85.0,NaN,Economic & Management Sciences,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,1-3,4+,5-8,4+,0,No,Yes,Close
405,2024/03/16 10:30:36 pm EET,Female,80.0,1st Year,NaN,63.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,3-5,Only weekends,3-5,1,0,No,No,Close

In [23]:
df.dtypes

Timestamp                                                                                             object
Your Sex?                                                                                             object
Your Matric (grade 12) Average/ GPA (in %)                                                           float64
What year were you in last year (2023) ?                                                              object
What faculty does your degree fall under?                                                             object
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   float64
Your Accommodation Status Last Year (2023)                                                            object
Monthly Allowance in 2023                                                                             object
Were you on scholarship/bursary in 2023?                                                              object
Additional amount of studying (in hrs) per week                                                       object
How often do you go out partying/socialising during the week?                                         object
On a night out, how many alcoholic drinks do you consume?                                             object
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)     object
How many modules have you failed thus far into your studies?                                          object
Are you currently in a romantic relationship?                                                         object
Do your parents approve alcohol consumption?                                                          object
How strong is your relationship with your parent/s?                                                   object
dtype: object

In [24]:
df.isna().sum()

Timestamp                                                                                             0
Your Sex?                                                                                             2
Your Matric (grade 12) Average/ GPA (in %)                                                            7
What year were you in last year (2023) ?                                                             73
What faculty does your degree fall under?                                                             7
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   86
Your Accommodation Status Last Year (2023)                                                           23
Monthly Allowance in 2023                                                                            31
Were you on scholarship/bursary in 2023?                                                              8
Additional amount of studying (in hrs) per week                                                       3
How often do you go out partying/socialising during the week?                                         2
On a night out, how many alcoholic drinks do you consume?                                             2
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)     3
How many modules have you failed thus far into your studies?                                          3
Are you currently in a romantic relationship?                                                         3
Do your parents approve alcohol consumption?                                                          4
How strong is your relationship with your parent/s?                                                   3
dtype: int64

In [25]:
df.drop(['Timestamp'],axis=1,inplace=True)

In [26]:
df.columns=['sex','GPA','Last Year','Faculty','2023 GPA','Accomodation','Monthly Allowance','Scholarship','Extra study hour','socialising','drinks per day','skipped class','Failed modules','romantic relationship','approve alcohol consumption','relationship status']
df

,sex,GPA,Last Year,Faculty,2023 GPA,Accomodation,Monthly Allowance,Scholarship,Extra study hour,socialising,drinks per day,skipped class,Failed modules,romantic relationship,approve alcohol consumption,relationship status
0,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,Female,74.0,NaN,Science,NaN,Private accommodation/ stay with family/friends,NaN,No,3-5,3,1-3,0,0,No,Yes,Close
402,Female,73.0,2nd Year,Economic & Management Sciences,58.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,"Yes (NSFAS, etc...)",5-8,1,8+,0,0,Yes,Yes,Very close
403,Female,86.0,1st Year,NaN,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,5-8,2,3-5,1,0,No,Yes,Very close
404,Male,85.0,NaN,Economic & Management Sciences,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,1-3,4+,5-8,4+,0,No,Yes,Close
405,Female,80.0,1st Year,NaN,63.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,3-5,Only weekends,3-5,1,0,No,No,Close

In [27]:
df.dropna(subset=['2023 GPA'],inplace=True)

In [28]:
df.isna().sum()

sex                             0
GPA                             2
Last Year                       1
Faculty                         3
2023 GPA                        0
Accomodation                    2
Monthly Allowance              14
Scholarship                     0
Extra study hour                0
socialising                     0
drinks per day                  0
skipped class                   1
Failed modules                  0
romantic relationship           1
approve alcohol consumption     1
relationship status             1
dtype: int64

In [29]:
df['GPA'].unique()

array([76.  , 89.  , 74.  , 80.  , 85.  , 79.  , 72.  , 87.  , 69.  ,
       83.  , 78.  , 84.  , 86.  , 73.  , 99.  , 82.6 , 65.  , 81.  ,
       88.  , 75.  , 98.  , 90.  , 98.33, 70.  ,   nan, 82.  , 77.  ,
       68.  , 92.  , 91.86, 71.  , 63.  , 67.  , 95.  , 86.4 , 60.  ,
       95.5 , 94.  , 66.  , 55.  , 64.  ])

In [32]:
df['Last Year'].unique()

array(['2nd Year', '1st Year', '3rd Year', '4th Year', 'Postgraduate',
       nan], dtype=object)

In [34]:
df['Faculty'].unique()

array(['Arts & Social Sciences', 'Economic & Management Sciences',
       'AgriSciences', 'Engineering', 'Science', 'Law',
       'Medicine and Health Services', 'Education', nan], dtype=object)

In [35]:
df['Accomodation'].unique()

array(['Private accommodation/ stay with family/friends',
       'Non-private accommodation ie. Res', nan], dtype=object)

In [ ]:
df['Monthly Allowance'].unique()

array(['R 4001- R 5000', 'R 7001 - R 8000', 'R 6001 - R 7000',
       'R 5001 - R 6000', 'R 8000+', nan], dtype=object)

In [37]:
df['skipped class'].unique()

array(['3', '4+', '2', '1', '0', nan], dtype=object)

In [39]:
df['romantic relationship'].unique()

array(['Yes', 'No', nan], dtype=object)

In [40]:
df['approve alcohol consumption'].unique()

array(['Yes', 'No', nan], dtype=object)

In [41]:
df['relationship status'].unique()

array(['Very close', 'Fair', 'Close', 'Distant', nan], dtype=object)

In [30]:
print(df['GPA'].skew())

0.02965453380268074

In [ ]:
df['GPA']=df['GPA'].fillna(df['GPA'].mean())
df['Last Year']=df['Last Year'].fillna(df['Last Year'].mode()[0])
df['Last Year']=df['Last Year'].fillna(df['Last Year'].mode()[0])
df['Faculty']=df['Faculty'].fillna(df['Faculty'].mode()[0])
df['Accomodation']=df['Accomodation'].fillna(df['Accomodation'].mode()[0])
df['Monthly Allowance']=df['Monthly Allowance'].fillna(df['Monthly Allowance'].mode()[0])
df['skipped class']=df['skipped class'].fillna(df['skipped class'].mode()[0])
df['Monthly Allowance']=df['Monthly Allowance'].fillna(df['Monthly Allowance'].mode()[0])